.artist {

    &-wrapper {

    }

    &__profile {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        background-color: var(--color-black01);
        border: 1px solid var(--color-black02);
        padding: 24px;
        border-radius: 12px;

        &-avatar {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }

        &-info {
            margin-left: 24px;
            display: flex;
            flex-direction: column;
        }

        &-nickname {
            margin-bottom: 2px;
            font-size: 28px;
        }

        &-soundcloud {
            font-size: 16px;

            transition: opacity 0.3s ease-in;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__track {

        &-title {
            margin-bottom: 12px;
        }

        &-content {
            position: relative;
            overflow: hidden;
            height: 315px;
        }

        &-list {
            position: absolute;
            display: flex;
            column-gap: 28px;
        }

        &-item {
            position: relative;
            width: 185px;
            height: 315px;
            background-color: var(--color-black01);
            border: 1px solid var(--color-black02);
            border-radius: 12px;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            transition: opacity 0.3s ease-in;

            &:hover {
                opacity: 0.7;
            }
        }

        &-avatar {
            cursor: pointer;
            margin-bottom: 4px;
            width: 183px;
            height: 183px;
        }

        &-info {
            margin-left: 8px;
        }

        &-name {
            display: block;
            margin-bottom: 2px;
        }

        &-artist {

            &-nickname {
                opacity: 0.7;

                transition: opacity 0.3s ease-in;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        &-rating {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    }
}

@media (max-width: 585px) {
    .artist {
        
        &__profile {
            padding: 12px;

            &-info {
                margin-left: 12px;
            }

            &-avatar {
                width: 100px;
                height: 100px;
            }

            &-nickname {
                font-size: 18px;
            }

            &-soundcloud {
                font-size: 12px;
            }
        }

        &__track {

            &-content {
                height: 260px;
            }

            &-list {
                column-gap: 20px;
            }

            &-item {
                width: 140px;
                height: 260px;
            }

            &-avatar {
                height: 138px;
                width: 138px;
            }
        }
    }
}

@media (hover: none) {
    .artist {

        &__track {

            &-content {
                overflow: unset;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}