.header {

    &-wrapper {
        position: relative;
        margin-bottom: 48px;
        padding: 4px 0;
        border-bottom: 1px solid var(--color-black02);
    }

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__logo {

        transition: opacity 0.3s ease-in;
        
        &:hover {
            opacity: 0.7;
        }

        &-link {
            display: flex;
            align-items: center;
            column-gap: 7px;
        }

        &-img {
            width: 50px;
        }

        &-text {
            font-size: 22px;
            font-weight: 700;
        }
    }

    &__nav {

        &-list {
            display: flex;
            column-gap: 32px;
        }

        &-item {
            font-size: 14px;
            font-weight: 400;
            opacity: 0.5;

            transition: opacity 0.3s ease-in;

            &:hover {
                opacity: 1;
            }

            &.active {
                position: relative;
                opacity: 1;
                font-weight: 600;

                & a {
                    cursor: default;
                }

                &::before {
                    position: absolute;
                    content: '';
                    width: 110%;
                    bottom: -21px;
                    left: -5%;
                    height: 2px;
                    background-color: var(--color-white);
                    border-radius: 50%;
                }
            }
        }
    }

    &__burger {
        display: none;
    }

    &__profile {
        position: relative;
        z-index: 9999;

        &-avatar {
            cursor: pointer;
            width: 50px;
            height: 50px;
            background-color: var(--color-gray);
            border-radius: 50%;
            transition: opacity 0.3s ease-in;

            &:hover {
                opacity: 0.7;
            }
        }

        &-info {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            right: 0;
            bottom: -4px;
            transform: translateY(100%);
            width: 300px;
            height: auto;
            padding: 12px 18px;
            background-color: var(--color-black01);
            border-radius: 8px;
            border: 2px solid var(--color-black02);

            transition: opacity 0.3s, visibility 0.3s ease-in;

            &.show {
                opacity: 1;
                visibility: visible;
            }
        }
        
        &-close {
            position: absolute;
            cursor: pointer;
            top: 5px;
            right: 15px;
            font-size: 22px;
            transform: rotate(45deg);

            transition: opacity 0.3s ease-in;

            &:hover {
                opacity: 0.7;
            }
        }

        &-nickname {
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            column-gap: 7px;
            height: 38px;
            padding-bottom: 8px;
            border-bottom: 2px solid var(--color-black02);
        }

        &-role {
            display: block;
            background-color: var(--color-blue);
            padding: 3px 6px;
            border-radius: 8px;

            &--admin {
                background-color: var(--color-red);
            }
        }

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: start;
            row-gap: 7px;
        }

        &--action {
            display: block;
            cursor: pointer;

            transition: color 0.3s, opacity 0.3s ease-in;
        }

        &-page {

            &:hover {
                opacity: 0.7;
            }
        }

        &-admin {
            &:hover {
                color: var(--color-red);
            }
        }

        &-logout {
            &:hover {
                color: var(--color-red);
            }
        }
    }
}

@media (max-width: 585px) {
    .header {

        &-wrapper {
            margin-bottom: 24px;
        }

        &-left {
            display: flex;
            align-items: center;
            column-gap: 10px;
        }

        &__logo {

            &-link {
                column-gap: 5px;
            }
            
            &-text {
                font-size: 18px;
            }
        }
        
        &__nav {
            display: none;
        }

        &__profile {

            &-avatar {
                width: 40px;
                height: 40px;

                &:hover {
                    opacity: 1;
                }

                &:active {
                    opacity: 0.7;
                }
            }

            &-info {
                width: 200px;
                padding: 8px 12px;
            }

            &-nickname {
                padding-bottom: 0;
                margin-bottom: 6px;
            }
        }
    }
}

@media (hover: none) {
    .header {

        &__logo {

            &:hover {
                opacity: 1;
            }

            &:active {
                opacity: 0.7;
            }
        }

        &__burger {

            &-open {

                &:hover {
                    opacity: 1;
                }

                &:active {
                    opacity: 0.7;
                }
            }
        }
    }
}