.latest-comment {

    &-wrapper {
        margin-bottom: 48px;
    }

    &-inner {
        border-radius: 12px;
    }

    &-title {
        margin-bottom: 15px;
    }
    
    &__card {

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }

        &-item {
            padding: 8px 12px;
            background-color: var(--color-black01);
            border: 1px solid var(--color-black02);
            border-radius: 12px;
            height: 317px;
        }

        &-user {
            display: flex;
            align-items: center;
            column-gap: 7px;
            border-bottom: 2px solid var(--color-black02);
            padding-bottom: 8px;
            margin-bottom: 8px;

            &-avatar {
                width: 50px;
                height: 50px;
                background-color: var(--color-gray);
                border-radius: 50%;

                transition: opacity 0.3s ease-in;

                &:hover {
                    opacity: 0.7;
                }
            }

            &-nickname {
                transition: opacity 0.3s ease-in;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        &-content {
            display: flex;
            justify-content: space-between;
            column-gap: 15px;
            height: 230px;
            overflow: hidden;
        }

        &-review {
            white-space: pre-wrap;
            font-weight: 400;
            max-width: 950px;
        }

        &-track {
            min-width: 150px;
            background-color: var(--color-black02);
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: start;
            height: 100%;
            padding-bottom: 8px;

            &-avatar {
                margin-bottom: 4px;
                width: 150px;
                height: 150px;

                transition: opacity 0.3s ease-in;

                &:hover {
                    opacity: 0.7;
                }
            }
            
            &-name {
                margin-bottom: 2px;
                padding-left: 8px;
            }

            &-artist {
                padding-left: 8px;
                opacity: 0.7;

                transition: opacity 0.3s ease-in;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}

@media (max-width: 585px) {
    .latest-comment {

        &__card {

            &-user {

                &-avatar {
                    width: 40px;
                    height: 40px;
                }
            }

            &-track {
                display: none;
            }
        }
    }
}

@media (hover: none) {
    .latest-comment {

        &__card {

            &-user {

                &-avatar {
                    
                    &:hover {
                        opacity: 1;
                    }
                    
                    &:active {
                        opacity: 0.7;
                    }
                }
                
                &-nickname {
                    
                    &:hover {
                        opacity: 1;
                    }
                    
                    &:active {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}