.reg {

    &-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-title {
        font-size: 28px;
        margin-bottom: 8px;
    }

    &-desc {
        margin-bottom: 2px;
        font-size: 16px;
    }

    &__noreg {
        margin-bottom: 16px;
        font-size: 16px;
        
        &-link {
            opacity: 0.7;

            transition: opacity 0.3s ease-in;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;

        &-list {
            margin-bottom: 26px;
            display: flex;
            flex-direction: column;
            row-gap: 15px; 
        }

        &-item {
            display: flex;
            flex-direction: column;
        }

        &-error {
            margin-bottom: 8px;
            border: 1px solid var(--color-red);
            padding: 6px 12px;
            border-radius: 8px;
        }

        &-input {
            width: 350px;
            outline: none;
            background-color: var(--color-black01);
            border: 1px solid var(--color-black02);
            border-radius: 8px;
            padding: 15px 12px;
            color: var(--color-white);

            &.error {
                border: 1px solid var(--color-red);
            }
        }

        &-submit {
            font-size: 18px;
            padding: 10px 42px;
        }
    }
}

@media (max-width: 585px) {
    .reg {

        &-title {
            margin-bottom: 4px;
            font-size: 22px;
        }

        &-desc {
            font-size: 14px;
        }

        &__noreg {
            margin-bottom: 12px;
            font-size: 14px;
        }

        &__form {

            &-error {
                margin-bottom: 4px;
            }

            &-list {
                margin-bottom: 22px;
                row-gap: 10px;
            }

            &-input {
                padding: 12px 10px;
                font-size: 12px;
            }

            &-submit {
                font-size: 14px;
                padding: 10px 42px;
            }
        }
    }
}