.search {

    &-top {
        margin-bottom: 22px;
        display: flex;
        align-items: center;
        column-gap: 12px;
    }
    
    &-input {
        border: 1px solid var(--color-black02);
        outline: none;
        background-color: var(--color-black01);
        border-radius: 8px;
        padding: 12px;
        color: var(--color-white);
    }

    &-content {
        display: flex;
        column-gap: 32px;
    }

    &__filter {
        background-color: var(--color-black01);
        height: 100%;
        border: 1px solid var(--color-black02);
        border-radius: 12px;

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            padding: 8px;
        }

        &-item {
            cursor: pointer;
            font-size: 16px;
            padding: 8px;
            border-radius: 8px;

            transition: background-color 0.3s, color 0.3s, opacity 0.3s ease-in;

            &:hover {
                background-color: var(--color-white);
                color: var(--color-black);
                opacity: 0.7;
            }

            &.active {
                cursor: default;
                background-color: var(--color-white);
                color: var(--color-black);
                
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    &-none {
        font-size: 16px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;

        &-item {
            display: flex;
            align-items: center;
            border-bottom: 2px solid var(--color-black02);
            padding-bottom: 12px;
            margin-bottom: 12px;
        }

        &-avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-right: 12px;
            background-color: var(--color-gray);

            transition: opacity 0.3s ease-in;

            &:hover {
                opacity: 0.7;
            }
        }
        
        &-name {
            font-size: 16px;

            transition: opacity 0.3s ease-in;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}