.top-tracks {

    &-wrapper {
        margin-bottom: 48px;
    }

    &-inner {
        border-radius: 12px;
        padding: 0 2.5px;
    }

    &-title {
        margin-bottom: 15px;
    }
    
    &__card {
        position: relative;
        overflow: hidden;
        height: 330px;

        &-list {
            position: absolute;
            display: flex;
            column-gap: 15px;

            transition: transform 0.5s ease-in;
        }

        &-btn {
            position: absolute;
            visibility: visible;
            opacity: 1;
            top: 50%;
            transform: translateY(-50%);
            background-color: var(--color-black01);
            padding: 0;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            transition: visibility 0.3s, opacity 0.3s ease-in;

            &--next {
                right: 8px;
            }

            &--prev {
                left: 8px
            }

            & img {
                transition: filter 0.3s ease-in;
            }

            &:hover {

                & img {
                    filter: brightness(0) saturate(100%)
                }
            }

            &.disabled {
                visibility: hidden;
                opacity: 0;
            }
        }

        &-item {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 195px;
            height: 330px;
            background-color: var(--color-black01);
            border: 1px solid var(--color-black02);
            border-radius: 12px;
            overflow: hidden;

            transition: opacity 0.3s ease-in;

            &:hover {
                opacity: 0.7;
            }
        }

        &-avatar {
            cursor: pointer;
            margin-bottom: 6px;
            width: 193px;
            height: 193px;
        }

        &-name {
            display: block;
            margin-bottom: 3px;
            margin-left: 8px;
        }

        &-rating {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }

        &-artist-list {
            padding: 0 8px;
            display: flex;
            flex-direction: column;
            max-height: 51px;
        }

        &-artist-nickname {
            opacity: 0.7;

            transition: opacity 0.3s ease-in;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

@media (max-width: 585px) {
    .top-tracks {
        
        &-inner {
            padding: 0;
        }

        &__card {
            height: 265px;

            &-btn {
                width: 30px;
                height: 30px;

                &-icon {
                    height: 10px;
                }

                &--prev {
                    left: 6px;
                }

                &--next {
                    right: 6px;
                }
            }

            &-list {
                column-gap: 10px;
                transition: transform 0.4s ease-in;
            }

            &-item {
                width: 145px;
                height: 265px;
            }

            &-avatar {
                width: 143px;
                height: 143px;
            }
        }
    }
}