.track {

    &-wrapper {
        margin-top: 64px;
    }

    &-inner {
        display: flex;
        column-gap: 30px;
    }

    &-left {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        height: 100%;
    }

    &__profile {
        margin-bottom: 25px;
        display: flex;
        background-color: var(--color-gray);
        padding: 30px;
        border-radius: 14px;
        width: 100%;
        height: 100%;

        &-avatar {
            width: 200px;
            height: 200px;
            border-radius: 8px;
        }

        &-info {
            margin-top: 12px;
            margin-left: 20px;
            display: flex;
            flex-direction: column;
        }

        &-type {
            color: var(--color-blue);
        }

        &-name {
            margin-bottom: 8px;
            font-size: 36px;
        }

        &-rating {
            position: relative;
            display: flex;
            align-items: center;
            column-gap: 10px;

            &-overall {
                font-size: 18px;
                width: 40px;
                height: 40px;
                border: 3px solid var(--color-blue);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }

            &-btn {
                padding: 0;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;

                transition: transform 0.3s ease-in;

                &.show {
                    transform: rotate(180deg);
                }
            }

            &-more {
                position: absolute;
                opacity: 0;
                visibility: hidden;
                top: 30px;
                left: 40px;
                width: 200px;
                padding: 15px 20px;
                border-radius: 12px;
                background-color: var(--color-gray01);
                display: flex;
                flex-direction: column;
                row-gap: 5px;

                transition: opacity 0.3s, visibility 0.3s ease-in;

                &.show {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-name {
                font-size: 18px;
            }

            &-avg {
                font-size: 16px;
                width: 35px;
                height: 35px;
                border: 2px solid var(--color-blue);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
        }

        &-artist {
            &-list {
                margin-bottom: 12px;
                display: flex;
                align-items: center;
                column-gap: 8px;
            }

            &-wrapper {
                display: flex;
                align-items: center;
                column-gap: 8px;
                padding: 3px 9px;
                background-color: var(--color-gray01);
                border-radius: 8px;

                transition: opacity 0.3s ease-in;

                &:hover {
                    opacity: 0.7;
                }
            }

            &-avatar {
                width: 25px;
                height: 25px;
                border-radius: 50%;
            }
                
            &-name {
                font-size: 14px;
            }
        }
    }

    &__rating {
        background-color: var(--color-gray);
        border-radius: 15px;

        &-title {
            font-size: 40px;
            padding: 15px 30px;
            border-bottom: 2px solid var(--color-gray01);
        }

        &-list {
            padding: 15px 30px;
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }

        &-name {
           font-size: 24px;
           margin-bottom: 7px;
        }
    }

    &__input {

        &-list {
            display: inline-flex;
            column-gap: 5px;
            padding: 7px 12px;
            border-radius: 12px;
            align-items: center;
        }

        &-label {
            display: inline-block;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border: 3px solid var(--color-gray01);
            border-radius: 50%;
            font-size: 18px;

            transition: border 0.3s, opacity 0.3s ease-in;

            &:hover {
                border: 3px solid var(--color-blue);
                opacity: 0.7;
            }
        }

        &-item {

            &[type=radio] {
                display: none;

                &:checked + label {
                    border: 3px solid var(--color-blue);
                }

                &:disabled + label {
                    opacity: 1;
                }
            }
        }
    }

    &__review {
        overflow: hidden;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        border-bottom: 2px solid var(--color-gray01);

        &-top {
            margin-bottom: 7px;
            display: flex;
            align-items: center;
            column-gap: 5px;
        }

        &-desc {
            opacity: 0.7;
        }

        &-btn {
            cursor: pointer;
            font-size: 18px;

            transition: opacity 0.3s ease-in;

            &:hover {
                opacity: 0.7;
            }

            &-icon {
                transition: transform 0.3s ease-in;

            &.open {
                transform: rotate(180deg);
            }
            }
        }

        &-title {
            font-size: 24px;
        }

        &-comment {
            display: flex;
            flex-direction: column;
            opacity: 0;
            visibility: hidden;
            max-height: 0;

            transition: max-height 0.9s, opacity 0.6s, visibility 0.6s ease-in;

            &.open {
                opacity: 1;
                visibility: visible;
                max-height: 324px;
            }
        }

        &-error {
            margin-bottom: 7px;
            color: var(--color-red);
            border: 1px solid var(--color-red);
            border-radius: 8px;
            padding: 3px 6px;
        }

        &-textarea {
            margin-bottom: 7px;
            font-family: var(--font-family);
            font-size: 15px;
            outline: none;
            background-color: var(--color-gray01);
            border: 5px solid var(--color-gray01);
            padding: 3px 7px;
            border-radius: 12px;
            color: var(--color-white);
            width: 100%;
            height: 150px;
            min-height: 150px;
            max-height: 300px;
            resize: vertical;

            &.error {
                border: 1px solid var(--color-red);
                color: var(--color-red);
            }

            &::placeholder {
                color: var(--color-white);
                opacity: 0.7;
            }

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track {
                background-color: var(--color-black);
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: var(--color-white);
                border: 3px solid var(--color-black);
            }
        }

        &-count {
            text-align: end;
            opacity: 0.7;
            font-size: 14px;
        }
    }

    &__general {
        background-color: var(--color-gray);
        padding: 30px;
        border-radius: 15px;
        
        &-title {
            font-size: 40px;
        }

        &-wrapper {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            column-gap: 15px;
        }

        &-none {
            font-size: 18px;
        }
    }

    &__comment {
        width: 100%;
        height: 100%;
        background-color: var(--color-gray);
        border-radius: 14px;

        &-title {
            font-size: 32px;
            padding: 20px 30px;
            border-bottom: 2px solid var(--color-gray01);
        }

        &-none {
            display: block;
            font-size: 18px;
            padding: 20px 30px;
        }

        &-list {
            padding: 20px 30px;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }

        &-item {
            background-color: var(--color-black);
            border: 1px solid var(--color-gray01);
            padding: 10px 15px;
            border-radius: 12px;
        }

        &-user {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            column-gap: 10px;
        }

        &-avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: var(--color-gray01);

            transition: opacity 0.3s ease-in;

            &:hover {
                opacity: 0.7;
            }
        }

        &-nickname {
            font-size: 18px;

            transition: opacity 0.3s ease-in;

            &:hover {
                opacity: 0.7;
            }
        }

        &-text {
            white-space: pre-wrap;
            margin-bottom: 10px;
            padding: 10px 15px;
            background-color: var(--color-gray);
            border: 1px solid var(--color-gray01);
            border-radius: 12px;
            font-size: 16px;
        }
    }
}