.track {

    &__profile {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        background-color: var(--color-black01);
        border: 1px solid var(--color-black02);
        padding: 24px;
        border-radius: 12px;

        &-avatar {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }

        &-info {
            margin-left: 24px;
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        &-top {
            position: relative;
            display: flex;
            align-items: center;
            column-gap: 10px;
        }

        &-nickname {
            margin-bottom: 2px;
            font-size: 28px;
        }

        &-soundcloud {
            margin-bottom: 12px;
            font-size: 16px;

            transition: opacity 0.3s ease-in;

            &:hover {
                opacity: 0.7;
            }
        }

        &-rating {
            display: flex;

            &-none {
                margin-bottom: 12px;
            }

            &-icon {
                cursor: pointer;
                margin-left: 8px;

                transition: opacity 0.3s, transform 0.5s ease-in;

                &:hover {
                    opacity: 0.7;
                }

                &.open {
                    transform: rotate(180deg);
                }
            }

            &-info {
                position: absolute;
                opacity: 0;
                z-index: 99;
                right: 0;
                bottom: -3px;
                transform: translateY(100%);
                padding: 8px 10px;
                background-color: var(--color-black02);
                border: 1px solid var(--color-gray);
                border-radius: 8px;
                height: 47px;

                transition: opacity 0.3s ease-in;

                &.open {
                    opacity: 1;
                }
            }

            &-list {
                display: flex;
                column-gap: 5px;
            }

            &-criteria {
                font-size: 14px;
                width: 30px;
                height: 30px;
            }
        }

        &-artist {

            &-list {
                padding-top: 6px;
                border-top: 1px solid var(--color-black02) ;
                display: inline-flex;
                width: 100%;
                column-gap: 8px;
            }

            &-item {
                display: flex;
                align-items: center;
                column-gap: 5px;

                transition: opacity 0.3s ease-in;

                &:hover {
                    opacity: 0.7;
                }
            }

            &-avatar {
                width: 25px;
                height: 25px;
                border-radius: 50%;
            }

            &-name {
                opacity: 0.7;
            }
        }
    }

    &-content {
        display: flex;
        column-gap: 16px;

    }

    &__comment {
        width: 100%;
        
        &-title {
            margin-bottom: 12px;
        }

        &-none {
            font-size: 16px;
        }

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }

        &-item {
            padding: 18px;
            background-color: var(--color-black01);
            border: 1px solid var(--color-black02);
            border-radius: 12px;
        }

        &-user {
            display: flex;
            align-items: center;
            column-gap: 10px;
            padding-bottom: 8px;
            border-bottom: 2px solid var(--color-black02);
            margin-bottom: 12px;

            &-avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: var(--color-gray);

                transition: opacity 0.3s ease-in;

                &:hover {
                    opacity: 0.7;
                }
            }

            &-nickname {
                font-size: 16px;

                transition: opacity 0.3s ease-in;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        &-text {
            white-space: pre-wrap;
            font-weight: 400;
        }
    }

    &__rating {
        width: 433px;
        
        &-title {
            margin-bottom: 12px;
        }

        &-wrapper {
            width: 433px;
            padding: 18px;
            background-color: var(--color-black01);
            border: 1px solid var(--color-black02);
            border-radius: 12px;
        }

        &-list {
            margin-bottom: 16px;
            display: flex;
            flex-direction: column;
            row-gap: 5px;
        }

        &-name {
            margin-bottom: 5px;
            font-size: 16px;
        }

        &-radio {

            &-list {
                display: flex;
                align-items: center;
                column-gap: 5px;
                border-bottom: 2px solid var(--color-black02);
                padding-bottom: 8px;
            }

            &-input {
                display: none;

                &:checked + label {
                    border: 2px solid var(--color-white);

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            &-label {
                cursor: pointer;
                font-size: 16px;
                width: 30px;
                height: 30px;
                font-size: 18px;
                width: 35px;
                height: 35px;
                border: 2px solid var(--color-black02);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                transition: border 0.3s, opacity 0.3s ease-in;

                &:hover {
                    border: 2px solid var(--color-white);
                    opacity: 0.7;
                }
            }
        }

        &-comment {
            border-bottom: 2px solid var(--color-black02);
            padding-bottom: 8px;
            margin-bottom: 8px;

            &-top {
                margin-bottom: 4px;
                display: flex;
                align-items: center;
                column-gap: 5px;
            }

            &-title {
                font-size: 16px;
            }

            &-desc {
                opacity: 0.7;
            }

            &-icon {
                cursor: pointer;
                width: 10px;
                height: 8px;

                transition: transform 0.3s, opacity 0.3s ease-in;

                &:hover {
                    opacity: 0.7;
                }

                &.open {
                    transform: rotate(180deg);
                }
            }

            &-content {
                max-height: 0;
                opacity: 0;
                visibility: hidden;

                transition: max-height 0.9s, opacity 0.6s, visibility 0.6s ease-in;

                &.open {
                    max-height: 400px;
                    opacity: 1;
                    visibility: visible;
                }
            }

            &-error {
                display: block;
                margin-bottom: 4px;
                border: 1px solid var(--color-red);
                padding: 6px 12px;
                border-radius: 8px;
            }

            &-textarea {
                margin-bottom: 4px;
                font-family: var(--font-family);
                padding: 4px 6px;
                font-size: 14px;
                outline: none;
                background-color: var(--color-black02);
                border: unset;
                border-radius: 12px;
                color: var(--color-white);
                border: 2px solid var(--color-black01);
                width: 100%;
                height: 150px;
                min-height: 150px;
                max-height: 300px;
                resize: vertical;

                &.error {
                    border: 1px solid var(--color-red);
                }

                &::placeholder {
                    color: var(--color-white);
                    opacity: 0.7;
                }

                &::-webkit-scrollbar {
                    width: 10px;
                }

                &::-webkit-scrollbar-track {
                    background-color: var(--color-black);
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background-color: var(--color-black02);
                    border: 3px solid var(--color-black);
                }
            }

            &-count {
                display: flex;
                justify-content: end;
                opacity: 0.7;
            }
        }

        &-general {
            margin-bottom: 20px;

            &-content {
                display: flex;
                align-items: center;
                column-gap: 5px;
            }

            &-title {
                font-size: 18px;
            }

            &-overall {
                width: 40px;
                height: 40px;
                font-size: 18px;
            }
        }

        &-submit {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-btn {
                font-size: 16px;
                padding: 8px 28px;
            }
        }

        &-nonauth {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            row-gap: 10px;

            &-text {
                font-size: 16px;
            }

            &-btn {
                font-size: 16px;
                padding: 8px 28px;
            }
        }

        &-none {
            display: flex;
            justify-content: center;
            font-size: 16px;
        }
    }
}

@media (max-width: 585px) {
    .track {

        &__profile {
            padding: 8px;

            &-info {
                margin-left: 10px;
            }

            &-avatar {
                width: 100px;
                height: 100px;
            }

            &-top {
                column-gap: 7px;
            }

            &-nickname {
                font-size: 18px;
            }

            &-soundcloud {
                font-size: 12px;
            }

            &-rating {

                &-overall {
                    font-size: 13px;
                    width: 30px;
                    height: 30px;
                }

                &-icon {
                    margin-left: 5px;
                    width: 10px;
                }
            }

            &-artist {

                &-list {
                    display: flex;
                    flex-wrap: wrap;
                    row-gap: 3px;
                }

                &-avatar {
                    width: 20px;
                    height: 20px;
                }

                &-name {
                    font-size: 10px;
                }
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            align-items: center;
        }

        &__comment {
            order: 1;
            
            &-item {
                padding: 12px;
            }

            &-user {

                &-avatar {
                    width: 40px;
                    height: 40px;
                }

                &-nickname {
                    font-size: 14px;
                }
            }

            &-none {
                font-size: 12px;
            }
        }

        &__rating {
            width: 300px;

            &-wrapper {
                width: 300px;
                padding: 12px;
            }

            &-name {
                font-size: 12px;
            }

            &-radio {

                &-input {

                    &:checked + label {
                        border: 1px solid var(--color-white);
                    }
                }

                &-label {
                    width: 23px;
                    height: 23px;
                    font-size: 12px;
                    border: 1px solid var(--color-black02);
                }
            }

            &-comment {

                &-title {
                    font-size: 12px;
                }
                
                &-desc {
                    font-size: 10px;
                }

                &-icon {
                    width: 8px;
                }

                &-textarea {
                    font-size: 12px;
                }
            }

            &-general {

                &-title {
                    font-size: 16px;
                }

                &-overall {
                    width: 32px;
                    height: 32px;
                    font-size: 16px;
                }
            }

            &-none {
                font-size: 14px;
            }

            &-nonauth {

                &-text {
                    font-size: 14px;
                }

                &-btn {
                    font-size: 14px;
                    padding: 6px 22px;
                }
            }

            &-submit {

                &-btn {
                    font-size: 14px;
                    padding: 6px 22px;
                }
            }
        }
    }
}