.user {

    &__profile {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        background-color: var(--color-black01);
        border: 1px solid var(--color-black02);
        padding: 24px;
        border-radius: 12px;

        &-avatar {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: var(--color-gray);
        }

        &-info {
            margin-left: 24px;

            &-top {
                display: flex;
                align-items: center;
                column-gap: 8px;
            }
        }

        &-nickname {
            margin-bottom: 2px;
            font-size: 28px;
        }

        &-role {
            display: block;
            background-color: var(--color-blue);
            padding: 6px 8px;
            border-radius: 8px;

            &--admin {
                background-color: var(--color-red);
            }
        }

        &-soundcloud {
            font-size: 16px;

            transition: opacity 0.3s ease-in;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__track {

        &-title {
            margin-bottom: 12px;
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(6, 0fr);
            column-gap: 28px;
            row-gap: 20px;
        }

        &-item {
            position: relative;
            width: 185px;
            height: 315px;
            background-color: var(--color-black01);
            border: 1px solid var(--color-black02);
            border-radius: 12px;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            transition: opacity 0.3s ease-in;

            &:hover {
                opacity: 0.7;
            }
        }

        &-avatar {
            cursor: pointer;
            margin-bottom: 4px;
            width: 183px;
            height: 183px;
        }

        &-info {
            margin-left: 8px;
        }

        &-name {
            display: block;
            margin-bottom: 2px;
        }

        &-artist {

            &-nickname {
                opacity: 0.7;

                transition: opacity 0.3s ease-in;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        &-rating {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    }
}