@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font-family: "Inter", sans-serif;

    // --color-black: #1a1a1a;
    // --color-gray: #262626;
    // --color-white: #ffffff;
    // --color-blue: #60aef0;

    --color-black: #121212;
    --color-black01: #222326;
    --color-black02: #303136;
    --color-white: #ffffff;
    --color-blue: #0077e4;
    --color-red: #ff316a;
    --color-green: #0da678;
    --color-orange: #ff5500;
    --color-yellow: #FBBC04;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--color-black);
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 500;
    color: var(--color-white);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--color-white);
    border-radius: 12px;
    color: var(--color-white);
    font-weight: 400;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
    padding: 6px 24px;

    transition: background-color 0.3s, color 0.3s ease-in;

    &:hover {
        background-color: var(--color-white);
        color: var(--color-black)
    }
}

.rating-overall {
    width: 35px;
    height: 35px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    border: 2px solid var(--color-white);
    border-radius: 50%;
}

.title {
    font-size: 22px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}